.room__userlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 5px 5px 5px 5px;
  width: 100%;
  height: 225px;
  background: #111111;
  transition: 0.5s transform, 0.5s opacity;

  border-radius: 10px;
  opacity: 80%;
}

/* hover animation: scale by 1% and change opacity to 100% */
.room__userlist:hover {
  transform: scale(1.01);
  opacity: 100%;
}

.room__userlist-header h3 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.room__userlist-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.room__userlist-content p {
  color: white;
  font-size: 10px;
  line-height: 20px;
  margin: 0;
}

.room__userlist-content ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.room__userlist-content li {
  color: white;
  font-size: 10px;
  line-height: 20px;
  margin: 0;

  /* remove default bullet points for <li> elements */
  list-style-type: none;
}
