button {
  background-color: #1d1d1d;
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s background-color, 0.5s color;
}

button:hover {
  background-color: #474748;
}
