.room__chatbox {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  padding: 5px 5px 5px 5px;
  margin-left: 1rem;
  width: 100%;

  border-radius: 10px;
  background: #111111;
  opacity: 80%;
  transition: 0.5s transform, 0.5s opacity;
}

.room__chatbox-header h3 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.room__chatbox-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-between;
  height: 100%;
  width: 100%;
}

.room__chatbox-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  margin: 0 20px 0 20px;
}

.room__chatbox-history p {
  color: white;
  font-size: 10px;
  line-height: 20px;
  margin: 0;
}

.room__chatbox-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 20px 20px;
}

.room__chatbox-input input {
	font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  border: 2px solid #1d1d1d;
  outline: none;
  background: none;
}

.room__chatbox:hover {
  transform: scale(1.01);
  opacity: 100%;
}