.leaderboard-select__container {
  display: block;
  min-width: max-content;
  height: inherit;
  overflow-y: scroll;
  background: rgba(144, 144, 144, 0.1);
  border-radius: 10px;
  
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.leaderboard-select__container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.leaderboard-select__container-map {
  display: block;
  cursor: pointer;

  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 0.75rem;
  margin: 0.75rem;

  background: #111111;
  border-radius: 10px;
  opacity: 80%;
  transition: 0.5s transform, 0.5s opacity, 0.5s background-color;
}

.selected {
  background-color: #4480ff;
  opacity: 100%;
}

.leaderboard-select__container-map:hover {
  transform: scale(1.01);
  opacity: 100%;
  background-color: #4480ff;
}